<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <p> {% include 'top.html' %}</p>
    </header>
    <p>Vardas: {{ current_user.name}} {{ current_user.surname}} </p>
    <p>El. paštas: {{ current_user.email}} </p>
    <p>Vadovas: {{manager.name}} {{manager.surname}} </p>
</body>

</html>

