<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>

<body>
    <header>
        <p> {% include 'top.html' %}</p>
    </header>
    <h1>Skirta naudoti tik NorDan UAB darbuotojų reikmėm.</h1>
    <!-- <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br> -->
   
</body>

</html>