{% extends "base.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="flex_container1">
            <div class="simple-modal" tabindex="0">
                <div class="simple-modal__content">
                    <header>
                        <br>
                        <h4 class="modal_title">Prisijungimas<span class="modal_close" ></h4>
                        <br>
                    </header>
                </div>
                <div class="box3">{% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{{ form.submit(class="form-control") }}</div>
                <br>
            </div>  
        </div>
    </form>
{% endblock content %}