{% extends "base.html" %}

{% block content %}

    <h3 class="title"><a href="{{url_for('dashboard')}}">Visi Prašymai</a><a> | </a><b>Mano Prašymai</b>
      {% if current_user.vadovas == 1 %}
      <a> | </a>
      <a href="{{url_for('employees_vacations')}}">Pavaldinių Prašymai</a>
      {% endif %}
    </h3>


<table id="data" class="table table-striped">
    <thead>
  <tr>
    <th>Prašymo numeris</th>
    <th>Darbuotojo Vardas Pavardė</th>
    <th>Vadovo Vardas Pavardė</th>
    <th>Atostogų data nuo - iki</th>
    <th>Atostogų Tipas</th>
    <th>Prašmo Data</th>
    <th>Patvirtintas</th>
  </tr>
  </thead>
  <tbody>
   {% if my_vacations %}
{% for vacation in my_vacations %}
  <tr>
    <td>{{vacation.id}}</td>
    <td>{{vacation.name}} {{vacation.surname}}</td>
    <td>{{vacation.mname}} {{vacation.msurname}}</td>
    <td>{{vacation.datefrom}} - {{vacation.dateto}}</td>
    <td>{{vacation.typevacation.title}}</td>
    <td>{{vacation.creation_date.strftime('%Y-%m-%d %H:%M:%S')}}</td>
    <td>{{vacation.approved}}</td>
  </tr>
  {% endfor %}
{% endif %}
</tbody>
</table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        order: [[5, 'desc']],
      language: {
            lengthMenu: 'Rodoma _MENU_ puslapyje',
            zeroRecords: 'Labai gaila, bet nieko neradome',
            info: 'Rodomas puslapis _PAGE_ iš _PAGES_',
            infoEmpty: 'No records available',
            infoFiltered: '(išfiltruota iš _MAX_ įrašų)',
            decimal:        "",
            emptyTable:     "Lentelėje nėra duomenų",
            infoPostFix:    "",
            thousands:      "",
            loadingRecords: "Įkeliama...",
            processing:     "",
            search:         "Ieškoti:",
            paginate: {
                first:      "Pirmas",
                last:       "Paskutinis",
                next:       "Kitas",
                previous:   "Ankstesnis"
            }
        }
  });
  });
  </script>
{% endblock %}



