{% extends "base.html" %}
{% block content %}
    <form  method="POST" action="">
        {{ form.hidden_tag() }}
    <div class="flex_container1">
        <div class="simple-modal" tabindex="0">
            <div class="simple-modal__content">
                <header>
                    <br>
                    <h4 class="modal_title">Registracija<span class="modal_close" ></h4>
                        <br>
                </header>
            <p>
            </div>
                <div class="box3"></div>
                <div class="box3">{% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                    {% else %}
                        {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.surname.errors %}
                        {{ form.surname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.surname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                    {% else %}
                        {{ form.surname(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.department.errors %}
                        {{ form.department(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.department(class="form-select form-select-sm") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.confirm.errors %}
                        {{ form.confirm(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm(class="form-control") }}
                    {% endif %}
                </div>
                <div class="box3">{{ form.submit(class="form-control") }}</div>
                <br>
                <br>
            </div>
            </p>
        </div>
  

    </form>
{% endblock content %}