{% extends "base.html" %}
{% block content %}
<form  method="POST" action="">
    <hr style="color: white;">
    <div class="flex_container1">
        <div class="simple-modal" tabindex="0">
            <div class="simple-modal__content">
                <header>
                    <h4 class="modal_title">Registracija<span class="modal_close" ></h4>
                </header>
            </div>
                <div class="box3">{{ form.hidden_tag() }}</div>
                <div class="box3">{{ form.username }}</div>
                <div class="box3">{{ form.surname }}</div>
                <div class="box3">{{ form.email }}</div>
                <div class="box3">{{ form.department }}</div>
                <div class="box3">{{ form.password }}</div>
                <div class="box3">{{ form.confirm }}</div>
                <div class="box3">{{ form.submit }}</div>
                <button class="modal_login" href="{{ url_for('login') }}"> Turite paskyrą, <br> prisijunkite čia...</button>
                <br>
        </div>
    </div>
</form>
{% endblock content %}