<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="horizontal-nav-mobile.css" rel="stylesheet"> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->

    <title>NorDan</title>
</head>
<header>
    <div class="topnav" class="app">
        {% if current_user.is_authenticated %}
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('logout')}}">Atsijungti</a>
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('vacation_request')}}">Prašymai</a>
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('dashboard')}}">Sąrašai</a>
        
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('account')}}">{{ current_user.name }}</a>
        {% else %}
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('register')}}">Registruotis</a>
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('login')}}">Prisijungti</a>
        <a class="split menu" class="nav-item" class="nav-link" href="{{url_for('reset_password')}}">Atkurti Paskyrą</a>
                   
        {% endif %}
        <img class="img" class="split" src="{{ url_for('static', filename='logo/logo_gr_300x89.png') }}" alt="">
        <select class="split dropdown" class="nav-item" class="nav-link" id="sectional_nav" onchange="window.location.href=this.value">
            <option class="split dropdown" value="0">Navigate to...</option>
            <option class="split dropdown" value="{{url_for('logout')}}">Atsijungti</option>
            <option class="split dropdown" value="{{url_for('vacation_request')}}">Prašymai</option>
            <option class="split dropdown" value="{{url_for('account')}}">Sąrašai</option>
            <option class="split dropdown" value="{{url_for('account')}}">{{ current_user.name }}</option>
            <option class="split dropdown" value="{{url_for('register')}}">Registruotis</option>
            <option class="split dropdown" value="{{url_for('login')}}">Prisijungti</option>
            <option class="split dropdown" value="{{url_for('reset_password')}}">Atkurti Paskyrą</option>
        </select>       
    </div>
    <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class='alert alert-{{ category }}'>
                            {{ message }}
                        </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
    </div>
</header>