{% extends "base.html" %}
{% block content %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="flex_container1">
            <div class="simple-modal" tabindex="0">
                <div class="simple-modal__content">
                    <header>
                        <br>
                        <h4 class="modal_title">Atostogų prašymas<span class="modal_close" ></h4>
                            <br>
                    </header>
                </div>
                <div class="box3">{% if form.datefrom.errors %}
                    {{ form.datefrom(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.datefrom.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.datefrom(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.dateto.errors %}
                        {{ form.dateto(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dateto.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dateto(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="box4">{% if form.type.errors %}
                        {{ form.type(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type(class="form-select form-select-sm") }}
                    {% endif %}
                </div>
                <div class="box3">{{ form.submit(class="form-control form-control-sm") }}</div>
                <br>
            </div>
        </div>
    </form>
{% endblock content %}