{% extends "base.html" %}
{% block content %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="flex_container1">
            <div class="simple-modal" tabindex="0">
                <div class="simple-modal__content">
                    <header>
                        <h4 class="modal_title">Atostogų prašymas<span class="modal_close" ></h4>
                    </header>
                </div>
                <div class="box3">{% if form.datefrom.errors %}
                    {{ form.datefrom(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.datefrom.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.datefrom(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.dateto.errors %}
                        {{ form.dateto(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dateto.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dateto(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="box3">{% if form.type.errors %}
                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="box3">{{ form.submit }}</div>
                <br>
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
	<script type='text/javascript'>$(function(){$('.input-daterange').datepicker({autoclose: true});});</script>
{% endblock scripts %}